<!DOCTYPE html>
{%  extends "publicNav.html" %}
<html lang="en">
<head>
    {% block head_meta %}
    <meta charset="UTF-8">
    {% block  title %}<title>测量系统数据采集软件</title>{% endblock %}
    {% endblock %}
    {% block css %}
    <link href="../static/css/test_css.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link href="../static/css/ionicons.css" rel="stylesheet">
    <link href="../static/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="../static/css/rickshaw.min.css" rel="stylesheet">
    {% endblock %}
    {% block my_css %}
    <link rel="stylesheet" href="../static/css/starlight.css">
    {% endblock %}
</head>
    {% block header %}
    <!-- ########## START: LEFT PANEL ########## -->

    <!-- ########## END: LEFT PANEL ########## -->

    <!-- ########## START: HEAD PANEL ########## -->

    <!-- ########## END: HEAD PANEL ########## -->

    {% endblock %}
    <!-- ########## START: MAIN PANEL ########## -->
    {% block main %}
    <div class="sl-mainpanel">
        <div style="">
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div class="card container" style="margin-left:0px;width:100%;height:570px">
                    <div style="height:50px"></div>
                    <!--这里加激光跟踪仪数显input-->
                    <div style="display:flex">
                        <div style="width:120px">
                            <button style="font-size:9px;width:110px;height:40px;margin-left:0px" type="button" id="insertComplete" onclick="insertComplete()"><i class="fa fa-check"></i> 录入完成</button>
                        </div>
                        <div style="border:1px solid #1255a2">
                            <div style="border:1px solid #1255a2;height:120px;width:896px;background:#f2f2f2">
                                <p style="font-size:9px;margin:0;color:black">基准板A测量数据手动录入</p>
                                <div style="height:12px"></div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球1:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="A1X" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="A1Y" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="A1Z" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球2:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="A2X" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="A2Y" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="A2Z" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球3:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="A3X" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="A3Y" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="A3Z" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                            </div>
                            <div style="border:1px solid #1255a2;height:120px;width:896px;background:#f2f2f2">
                                <p style="font-size:9px;margin:0;color:black">基准板B测量数据手动录入</p>
                                <div style="height:12px"></div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球1:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="B1X" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="B1Y" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="B1Z" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球2:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="B2X" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="B2Y" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="B2Z" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球3:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="B3X" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="B3Y" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="B3Z" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                            </div>
                            <div style="border:1px solid #1255a2;height:120px;width:896px;background:#f2f2f2">
                                <p style="font-size:9px;margin:0;color:black">基准板A的LT转换数据手动录入</p>
                                <div style="height:12px"></div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球APO:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="AOX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="AOY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="AOZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球APH:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="AHX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="AHY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="AHZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球APW:&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="AWX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="AWY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="AWZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                            </div>
                            <div style="border:1px solid #1255a2;height:120px;width:896px;background:#f2f2f2">
                                <p style="font-size:9px;margin:0;color:black">基准板B的LT转换数据手动录入</p>
                                <div style="height:12px"></div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球BPO:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="BOX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="BOY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="BOZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球BPH:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="BHX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="BHY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="BHZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球BPW:&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="BWX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="BWY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="BWZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <p style="font-size:9px;margin:0;color:black">数显部分不用填</p>
                </div>
            </div>
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div class="card container" style="margin-left:0px;width:100%;height:290px">
                    <div style="">
                        <div style="width:120px"></div>
                        <div style="display:flex">
                            <div style="width:120px"></div>
                            <div style="border:2px solid #1255a2;height:120px;width:896px;background:#f2f2f2">
                                <p style="font-size:9px;margin:0;color:black">基准板A算法转换数显</p>
                                <div style="height:12px"></div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球APO:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="APOX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="APOY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="APOZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球APH:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="APHX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="APHY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="APHZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球APW:&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="APWX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="APWY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="APWZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                            </div>
                        </div>
                        <div style="display:flex">
                            <div style="width:120px"></div>
                            <div style="border:2px solid #1255a2;height:120px;width:896px;background:#f2f2f2">
                                <p style="font-size:9px;margin:0;color:black">基准板B算法转换数显</p>
                                <div style="height:12px"></div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球BPO:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="BPOX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="BPOY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="BPOZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球BPH:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="BPHX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="BPHY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="BPHZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                                <div style="display:flex">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;靶球BPW:&nbsp;&nbsp;&nbsp;&nbsp;X:</p><input type="text" id="BPWX" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y:</p><input type="text" id="BPWY" style="font-size:9px;margin-left:0px;width:200px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Z:</p><input type="text" id="BPWZ" style="font-size:9px;margin-left:0px;width:200px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:15px"></div>
        <div style="">
            <div class="container" style="display:flex;flex:1;padding-right:0px;padding-left:0px;background:white">
                <div class="card container" style="margin-left:0px;width:100%">
                    <div style="height:20px"></div>
                    <span>
                        <input type="radio" name="AorB" id="selectcali_A" value="cali_A"><label style="font-size:10px;color:black">A端相机组标定&nbsp;&nbsp;</label>
                        <input type="radio" name="AorB" id="selectcali_B" value="cali_B"><label style="font-size:10px;color:black">B端相机组标定&nbsp;&nbsp;</label>
                        <input type="radio" name="AorB" id="selectA" value="A"><label style="font-size:10px;color:black">A端相机组拍照&nbsp;&nbsp;</label>
                        <input type="radio" name="AorB" id="selectB" value="B"><label style="font-size:10px;color:black">B端相机组拍照&nbsp;&nbsp;</label>
                    </span>
                </div>
            </div>
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div class="card container" style="margin-left:0px;height:400px">
                    <span>
                    <div style="float:left;width:120px">
                        <div style="height:45px">
                            <button style="font-size:9px;width:110px;height:40px" type="button" id="takePhotos" onclick="take_pic()"><i class="fa fa-camera"></i> 拍摄</button><!--这里按钮在拍摄与保存之间切换-->
                        </div>
                        <div style="height:45px">
                            <button style="font-size:9px;width:110px;height:40px" type="button" id="savePic" onclick="save_pic()" disabled="disabled"><i class="fa fa-floppy-o"></i> 保存</button><!--我放弃了5555-->
                        </div>
                        <div style="height:45px">
                            <button style="font-size:9px;width:110px;height:40px" type="button" id="deleteAll" onclick="confirmDelete2()"><i class="fa fa-trash"></i> 删除所有</button>
                        </div>
                    </div>
                    <div style="float:left">
                      <table border="3" style="border:#5b93d3"><tr>
                            <td><img name= 'leftcamera' src="/static/picture/nopic.png" alt="Pulpit rock" width="450" height="350" id="left_img"></td>
                            <td><img name='rightcamera' src="/static/picture/nopic.png" alt="Pulpit rock" width="450" height="350" id="right_img"></td>
                      </tr></table>
                    </div>
                    </span>
                    <div align="center">
                        <p align="center" id="numPic" style="font-size:9px;color:black">拍照后点击“保存”即可存入标定图库</p><!--这里更换文本-->
                    </div>
                </div>
            </div>
            <div class="container" style="flex:1;padding-right:0px;padding-left:0px">
                <div class="card container" style="margin-left:0px;height:590px">
                    <span>
                        <div style="float:left;width:120px">
                            <div style="height:45px">
                                <button style="font-size:9px;width:110px;height:40px" type="button" id="A_stereoCalibration" onclick="confirmDelete3()"><i class="fa fa-binoculars"></i> A端立体标定</button>
                            </div>
                            <div style="height:45px">
                                <button style="font-size:9px;width:110px;height:40px" type="button" id="B_stereoCalibration" onclick="confirmDelete4()"><i class="fa fa-binoculars"></i> B端立体标定</button>
                            </div>
                        </div>
                        <div style="border:2px solid #1255a2;background:#f2f2f2;width:900px;float:left">
                            <div style="display:flex">
                                <div style="width:300px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;&nbsp;标定时长:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="ltime" style="font-size:9px;margin-left:0px;width:270px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;&nbsp;内参矩阵:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="lmtx0" style="font-size:9px;margin-left:0px;width:270px">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="lmtx1" style="font-size:9px;margin-left:0px;width:270px">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="lmtx2" style="font-size:9px;margin-left:0px;width:270px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;&nbsp;畸变参数:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="ldist" style="font-size:9px;margin-left:0px;width:270px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left&nbsp;&nbsp;标定偏差:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="lterror" style="font-size:9px;margin-left:0px;width:270px">
                                </div>
                                <div style="width:266px">
                                    <p style="font-size:9px;margin:0;color:black">right&nbsp;&nbsp;标定时长:</p><input type="text" id="rtime" style="font-size:9px;margin-left:0px;width:270px">
                                    <p style="font-size:9px;margin:0;color:black">right&nbsp;&nbsp;内参矩阵:</p><input type="text" id="rmtx0" style="font-size:9px;margin-left:0px;width:270px">
                                    <input type="text" id="rmtx1" style="font-size:9px;margin-left:0px;width:270px">
                                    <input type="text" id="rmtx2" style="font-size:9px;margin-left:0px;width:270px">
                                    <p style="font-size:9px;margin:0;color:black">right&nbsp;&nbsp;畸变参数:</p><input type="text" id="rdist" style="font-size:9px;margin-left:0px;width:270px">
                                    <p style="font-size:9px;margin:0;color:black">right&nbsp;&nbsp;标定偏差:</p><input type="text" id="rterror" style="font-size:9px;margin-left:0px;width:270px">
                                </div>
                                <div style="width:300px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;双目标定时长:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="stime" style="font-size:9px;margin-left:0px;width:270px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="R0" style="font-size:9px;margin-left:0px;width:270px">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="R1" style="font-size:9px;margin-left:0px;width:270px">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="R2" style="font-size:9px;margin-left:0px;width:270px">
                                    <p style="font-size:9px;margin:0;color:black">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T:</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="T" style="font-size:9px;margin-left:0px;width:270px">
                                </div>
                            </div>
                            <div style="height:9px"></div>
                            <div style="height:9px"></div>
                        </div>
                    </span>
                    <div style="height:40px"></div>
                    <div>
                        <span>
                            <button type="button" id="updateList" style="font-size:9px;width:110px;height:40px" onclick="updateList1()"><i class="fa fa-refresh"></i> 更新列表</button>
                            <label style="font-size:9px">&nbsp;&nbsp;</label>
                            <select id="selectType" style="font-size:9px;background:rgba(0,0,0,0.08);width:250px;height:40px" onchange="selectType()">
                                <option value ="0">请先点击左侧“更新列表”</option>
                            </select>
                        </span>
                    </div>
                    <div style="height:10px"></div>
                    <div style="display:flex">
                        <div style="width:120px">
                            <div style="height:45px">
                                <button style="font-size:9px;width:110px;height:40px" type="button" id="hole_insert" onclick="hole_insert()"><i class="fa fa-sign-in"></i> 录入</button>
                            </div>
                        </div>
                        <div style="border:2px solid #1255a2;background:#f2f2f2;width:900px">
                            <p style="font-size:9px;margin:0;color:black">孔类目标数据录入</p>
                            <div style="height:12px"></div>
                            <div style="">
                                <div style="width:300px;display:flex">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div>
                                        <p style="font-size:9px;margin:0;color:black">X:</p><input type="text" id="HoleX" style="font-size:9px;margin-left:0px;width:200px">
                                    </div>
                                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    <div>
                                        <p style="font-size:9px;margin:0;color:black">Y:</p><input type="text" id="HoleY" style="font-size:9px;margin-left:0px;width:200px">
                                    </div>
                                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    <div>
                                        <p style="font-size:9px;margin:0;color:black">Z:</p><input type="text" id="HoleZ" style="font-size:9px;margin-left:0px;width:200px">
                                    </div>
                                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    <div>
                                        <p style="font-size:9px;margin:0;color:black">已经录入的孔数量n:</p><input type="text" id="numH_inserted" style="font-size:9px;margin-left:0px;width:200px">
                                    </div>
                                </div>
                            </div>
                            <div style="height:9px"></div>
                            <div style="height:9px"></div>
                        </div>
                    </div>
                    <div style="display:flex">
                        <div style="width:120px">
                            <div style="height:45px">
                                <button style="font-size:9px;width:110px;height:40px" type="button" id="target_insert" onclick="target_insert()"><i class="fa fa-sign-in"></i> 录入</button>
                            </div>
                        </div>
                        <div style="border:2px solid #1255a2;background:#f2f2f2;width:900px">
                            <p style="font-size:9px;margin:0;color:black">靶标类目标数据录入</p>
                            <div style="height:12px"></div>
                            <div style="">
                                <div style="width:300px;display:flex">
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div>
                                        <p style="font-size:9px;margin:0;color:black">X:</p><input type="text" id="TargetX" style="font-size:9px;margin-left:0px;width:200px">
                                    </div>
                                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    <div>
                                        <p style="font-size:9px;margin:0;color:black">Y:</p><input type="text" id="TargetY" style="font-size:9px;margin-left:0px;width:200px">
                                    </div>
                                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    <div>
                                        <p style="font-size:9px;margin:0;color:black">Z:</p><input type="text" id="TargetZ" style="font-size:9px;margin-left:0px;width:200px">
                                    </div>
                                    <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                    <div>
                                        <p style="font-size:9px;margin:0;color:black">已经录入的标数量n:</p><input type="text" id="numT_inserted" style="font-size:9px;margin-left:0px;width:200px">
                                    </div>
                                </div>
                            </div>
                            <div style="height:9px"></div>
                            <div style="height:9px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="height:40px"></div>
        <div>
            <footer class="sl-footer" style="background-color:#044b8c">
            <div>
                <p align="center" style="color:white;margin-bottom: 0px;">Copyright &copy; 2018. <strong>Starlight</strong>. All Rights Reserved. Made by BUAA <strong>Laboratory of Digital Design and Manufacturing</strong>.</p>
            </div>
            </footer>
        </div>
    </div>

    {% endblock %}
    {% block js %}

    {% endblock %}


    {% block write_js %}
    <script>
        function  take_pic(){
            var flag = $('input[type=radio][name=AorB]:checked').val();
            $.ajax({
                type:'GET',
                data:{'mydata':flag},
                url:"/cameraCalibration/take_pic",
                dataType: 'json',
                success:function(res){
                    //window.location.reload();
                    alert('拍照完成');
                    document.getElementById("savePic").removeAttribute("disabled");
                    time = res["key"];
                    //window.location.reload();
                    document.getElementById("numPic").innerHTML='当前照片组标签为'+flag+'端'+time;
                    document.getElementById("left_img").src="/static/res_pictures/temp/left.jpg";
                    document.getElementById("right_img").src="/static/res_pictures/temp/right.jpg";
                },
                error: function (res) {
                      alert('失败')
                }
            })
        }
    </script>
    <script>
        function save_pic(){
            var flag = $('input[type=radio][name=AorB]:checked').val()
            $.ajax({
                type:'GET',
                data:{'mydata':flag,'mydata1':time},
                url:"/cameraCalibration/save_pic",
                dataType: 'json',
                success:function(res){
                    alert("成功以"+"'"+time+"'"+"为标签保存至"+flag+"端图库")
                    document.getElementById("savePic").setAttribute("disabled",true);
                }
            })
        }
    </script>
    <script>
        function confirmDelete2(){
            var flag = $('input[type=radio][name=AorB]:checked').val()
            var r = confirm("确定要删除"+flag+"端标定图库中所有照片吗？")
		    if (r == true) {
		        deleteAll()
		    }
		    else {
		    }
        }
        function deleteAll(){
            var flag = $('input[type=radio][name=AorB]:checked').val()
            $.ajax({
                type:'GET',
                data:{'mydata':flag},
                url:"/cameraCalibration/deleteAll",
                dataType: 'json',
                success:function(res){
                    alert(flag+"图库中所有照片已成功被删除！")
                    document.getElementById("left_img").src="/static/picture/nopic.png";
                    document.getElementById("right_img").src="/static/picture/nopic.png";
                }
            })
        }
    </script>
    <script>
        function confirmDelete3(){
            var r = confirm("确定要对A端双目相机进行标定吗？");
		    if (r == true) {
		        A_stereoCalibration();
		    }
		    else {
		    }
        }
        function A_stereoCalibration(){
            var flag = 'A';
            document.getElementById("numPic").innerHTML='正在进行标定运算！请勿进行其他操作！'
            document.getElementById("takePhotos").setAttribute("disabled",true);
            document.getElementById("deleteAll").setAttribute("disabled",true);
            document.getElementById("A_stereoCalibration").setAttribute("disabled",true);
            document.getElementById("B_stereoCalibration").setAttribute("disabled",true);
            $.ajax({
                type:'GET',
                data:{'mydata':flag},
                url:"/cameraCalibration/stereoCalibration",
                dataType: 'json',
                success:function(res){
                    alert(flag+"端双目相机已标定完成！")
                    document.getElementById("left_img").src="/static/picture/nopic.png";
                    document.getElementById("right_img").src="/static/picture/nopic.png";
                    document.getElementById("takePhotos").removeAttribute("disabled");
                    document.getElementById("deleteAll").removeAttribute("disabled");
                    document.getElementById("A_stereoCalibration").removeAttribute("disabled");
                    document.getElementById("B_stereoCalibration").removeAttribute("disabled");
                    document.getElementById("ltime").value=res["ltime"];
                    document.getElementById("lmtx0").value=res["lmtx0"];
                    document.getElementById("lmtx1").value=res["lmtx1"];
                    document.getElementById("lmtx2").value=res["lmtx2"];
                    document.getElementById("ldist").value=res["ldist"];
                    document.getElementById("lterror").value=res["lterror"];

                    document.getElementById("rtime").value=res["rtime"];
                    document.getElementById("rmtx0").value=res["rmtx0"];
                    document.getElementById("rmtx1").value=res["rmtx1"];
                    document.getElementById("rmtx2").value=res["rmtx2"];
                    document.getElementById("rdist").value=res["rdist"];
                    document.getElementById("rterror").value=res["rterror"];

                    document.getElementById("R0").value=res["R0"];
                    document.getElementById("R1").value=res["R1"];
                    document.getElementById("R2").value=res["R2"];
                    document.getElementById("T").value=res["T"];
                    document.getElementById("stime").value=res["stime"];
                }
            })
        }
    </script>
    <script>
        function confirmDelete4(){
            var r = confirm("确定要对B端双目相机进行标定吗？");
		    if (r == true) {
		        B_stereoCalibration();
		    }
		    else {
		    }
        }
        function B_stereoCalibration(){
            var flag = 'B';
            document.getElementById("numPic").innerHTML='正在进行标定运算！请勿进行其他操作！'
            document.getElementById("takePhotos").setAttribute("disabled",true);
            document.getElementById("deleteAll").setAttribute("disabled",true);
            document.getElementById("A_stereoCalibration").setAttribute("disabled",true);
            document.getElementById("B_stereoCalibration").setAttribute("disabled",true);
            $.ajax({
                type:'GET',
                data:{'mydata':flag},
                url:"/cameraCalibration/stereoCalibration",
                dataType: 'json',
                success:function(res){
                    alert(flag+"端双目相机已标定完成！")
                    document.getElementById("left_img").src="/static/picture/nopic.png";
                    document.getElementById("right_img").src="/static/picture/nopic.png";
                    document.getElementById("takePhotos").removeAttribute("disabled");
                    document.getElementById("deleteAll").removeAttribute("disabled");
                    document.getElementById("A_stereoCalibration").removeAttribute("disabled");
                    document.getElementById("B_stereoCalibration").removeAttribute("disabled");
                    document.getElementById("ltime").value=res["ltime"];
                    document.getElementById("lmtx0").value=res["lmtx0"];
                    document.getElementById("lmtx1").value=res["lmtx1"];
                    document.getElementById("lmtx2").value=res["lmtx2"];
                    document.getElementById("ldist").value=res["ldist"];
                    document.getElementById("lterror").value=res["lterror"];

                    document.getElementById("rtime").value=res["rtime"];
                    document.getElementById("rmtx0").value=res["rmtx0"];
                    document.getElementById("rmtx1").value=res["rmtx1"];
                    document.getElementById("rmtx2").value=res["rmtx2"];
                    document.getElementById("rdist").value=res["rdist"];
                    document.getElementById("rterror").value=res["rterror"];

                    document.getElementById("R0").value=res["R0"];
                    document.getElementById("R1").value=res["R1"];
                    document.getElementById("R2").value=res["R2"];
                    document.getElementById("T").value=res["T"];
                    document.getElementById("stime").value=res["stime"];
                }
            })
        }
    </script>
    <script>
        function insertComplete(){
            var A1X = document.getElementById("A1X").value;
            var A1Y = document.getElementById("A1Y").value;
            var A1Z = document.getElementById("A1Z").value;
            var A2X = document.getElementById("A2X").value;
            var A2Y = document.getElementById("A2Y").value;
            var A2Z = document.getElementById("A2Z").value;
            var A3X = document.getElementById("A3X").value;
            var A3Y = document.getElementById("A3Y").value;
            var A3Z = document.getElementById("A3Z").value;
            var B1X = document.getElementById("B1X").value;
            var B1Y = document.getElementById("B1Y").value;
            var B1Z = document.getElementById("B1Z").value;
            var B2X = document.getElementById("B2X").value;
            var B2Y = document.getElementById("B2Y").value;
            var B2Z = document.getElementById("B2Z").value;
            var B3X = document.getElementById("B3X").value;
            var B3Y = document.getElementById("B3Y").value;
            var B3Z = document.getElementById("B3Z").value;

            var AOX = document.getElementById("AOX").value;
            var AOY = document.getElementById("AOY").value;
            var AOZ = document.getElementById("AOZ").value;
            var AHX = document.getElementById("AHX").value;
            var AHY = document.getElementById("AHY").value;
            var AHZ = document.getElementById("AHZ").value;
            var AWX = document.getElementById("AWX").value;
            var AWY = document.getElementById("AWY").value;
            var AWZ = document.getElementById("AWZ").value;
            var BOX = document.getElementById("BOX").value;
            var BOY = document.getElementById("BOY").value;
            var BOZ = document.getElementById("BOZ").value;
            var BHX = document.getElementById("BHX").value;
            var BHY = document.getElementById("BHY").value;
            var BHZ = document.getElementById("BHZ").value;
            var BWX = document.getElementById("BWX").value;
            var BWY = document.getElementById("BWY").value;
            var BWZ = document.getElementById("BWZ").value;
            $.ajax({
                type:'GET',
                data:{'A1X':A1X,'A1Y':A1Y,'A1Z':A1Z,'A2X':A2X,'A2Y':A2Y,'A2Z':A2Z,'A3X':A3X,'A3Y':A3Y,'A3Z':A3Z,'B1X':B1X,'B1Y':B1Y,'B1Z':B1Z,'B2X':B2X,'B2Y':B2Y,'B2Z':B2Z,'B3X':B3X,'B3Y':B3Y,'B3Z':B3Z,
                'AOX':AOX,'AOY':AOY,'AOZ':AOZ,'AHX':AHX,'AHY':AHY,'AHZ':AHZ,'AWX':AWX,'AWY':AWY,'AWZ':AWZ,'BOX':BOX,'BOY':BOY,'BOZ':BOZ,'BHX':BHX,'BHY':BHY,'BHZ':BHZ,'BWX':BWX,'BWY':BWY,'BWZ':BWZ},
                url:"/cameraCalibration/insertComplete",
                dataType: 'json',
                success:function(res){
                    alert("数据录入完成！");
                    document.getElementById("APOX").value=res["APOX"];
                    document.getElementById("APOY").value=res["APOY"];
                    document.getElementById("APOZ").value=res["APOZ"];
                    document.getElementById("APHX").value=res["APHX"];
                    document.getElementById("APHY").value=res["APHY"];
                    document.getElementById("APHZ").value=res["APHZ"];
                    document.getElementById("APWX").value=res["APWX"];
                    document.getElementById("APWY").value=res["APWY"];
                    document.getElementById("APWZ").value=res["APWZ"];

                    document.getElementById("BPOX").value=res["BPOX"];
                    document.getElementById("BPOY").value=res["BPOY"];
                    document.getElementById("BPOZ").value=res["BPOZ"];
                    document.getElementById("BPHX").value=res["BPHX"];
                    document.getElementById("BPHY").value=res["BPHY"];
                    document.getElementById("BPHZ").value=res["BPHZ"];
                    document.getElementById("BPWX").value=res["BPWX"];
                    document.getElementById("BPWY").value=res["BPWY"];
                    document.getElementById("BPWZ").value=res["BPWZ"];
                },
                error: function (res) {
                      alert('失败')
                }
            })
        }
    </script>
    <script>
        function updateList1(){
            var flag = $('input[type=radio][name=AorB]:checked').val();
            $("#selectType").html("");
            $.ajax({
                type:'GET',
                data:{'mydata':flag},
                url:"/cameraCalibration/updateList1",
                dataType: 'json',
                success:function(res){
                    //console.log("第一步");
                    var options = "<option value=0>请选择要录入数据的图像</option>";
                    for (var key in res) {
                        //console.log("第二步");
                        options += "<option value='"+key+"'>"+res[key]+"</option>";
                    }
                    $("#selectType").append(options);
                    //console.log("第三步");
                    //window.location.reload();
                    //alert('已选择'+type+'先验数据日志');

                    //window.location.reload();

                },
                error: function (res) {
                    alert('失败！')
                }
            });
        }
    </script>
    <script>
        function selectType(){
            var type = $("#selectType").val();
            var type1 = $("#selectType").find("option:selected").text();
            $.ajax({
                type:'GET',
                data:{'mydata':type},
                url:"/cameraCalibration/selectType",
                dataType: 'json',
                success:function(res){
                    //window.location.reload();
                    if(type==0){
                        alert('误操作！请选择拍摄图像数据日志！')
                    }
                    else{
                        alert('已选择'+type1+'拍摄图像日志数据日志');
                    }

                    //window.location.reload();
                },
                error: function (res) {
                      alert('失败！')
                }
            })
        }
    </script>
    <script>
        function hole_insert(){
            var HoleX = document.getElementById("HoleX").value;
            var HoleY = document.getElementById("HoleY").value;
            var HoleZ = document.getElementById("HoleZ").value;
            var filename = $("#selectType").find("option:selected").text();
            $.ajax({
                type:'GET',
                data:{'filename':filename,'HoleX':HoleX,'HoleY':HoleY,'HoleZ':HoleZ},
                url:"/cameraCalibration/hole_insert",
                dataType: 'json',
                success:function(res){
                    document.getElementById("numH_inserted").value = res["numH_inserted"];
                },
                error: function (res) {
                    alert('失败！')
                }
            });
        }
    </script>
    <script>
        function target_insert(){
            var TargetX = document.getElementById("TargetX").value;
            var TargetY = document.getElementById("TargetY").value;
            var TargetZ = document.getElementById("TargetZ").value;
            var filename = $("#selectType").find("option:selected").text();
            $.ajax({
                type:'GET',
                data:{'filename':filename,'TargetX':TargetX,'TargetY':TargetY,'TargetZ':TargetZ},
                url:"/cameraCalibration/target_insert",
                dataType: 'json',
                success:function(res){
                    document.getElementById("numT_inserted").value = res["numT_inserted"];
                },
                error: function (res) {
                    alert('失败！')
                }
            });
        }
    </script>
    {% endblock %}
    <!-- ######### END: MAIN PANEL ########## -->

    {% block my_js %}
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/perfect-scrollbar.jquery.js"></script>
    <script src="/static/js/jquery.sparkline.min.js"></script>
    <script src="/static/js/d3.js"></script>
    <script src="/static/js/rickshaw.min.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/jquery.flot.js"></script>
    <script src="/static/js/jquery.flot.pie.js"></script>
    <script src="/static/js/jquery.flot.resize.js"></script>
    <script src="/static/js/jquery.flot.spline.js"></script>
    <script src="/static/js/starlight.js"></script>
    <script src="/static/js/resizesensor.js"></script>
    <script src="/static/js/dashboard.js"></script>

    {% endblock %}
</body>
</html>